/* =====================
   共通リセット
===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =====================
   全体設定
===================== */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0eff2;
}

/* =====================
   ヘッダー
===================== */
header {
    background-color: #000;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
}


/* =====================
   ナビゲーション
===================== */
nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.logout {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

nav a:hover,
.logout:hover {
    opacity: 0.8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    /* 背景色を白に */
    -webkit-text-fill-color: #000;
    /* 文字色を黒に */
    transition: background-color 5000s ease-in-out 0s;
    /* 強制的に色を変えない */
}

@media (min-width: 1400px) and (max-width: 1540px) {}